<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css', integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z', crossorigin='anonymous')
        link(rel="stylesheet", href="/css/style.css")
        link(rel='stylesheet' href='//use.fontawesome.com/releases/v5.0.7/css/all.css')

        link(href='https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Open+Sans&family=Staatliches&display=swap', rel='stylesheet')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        title #{titulo} | #{pagina}
    body(class=clase)
        include includes/header
        block slider
        block contenido
        include includes/footer