extends ../layout/index 
block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Pellentesque habitant morbi tristique senectus et netus et malesuada 
                | ames ac turpis egestas. Pellentesque lectus justo, gravida sed orci vitae, semper mattis magna. Cras maximus nulla eget nisi sodales euismod.
                p Sed laoreet dictum ante, non faucibus sapien egestas a. Fusce placerat imperdiet maximus. Curabitur efficitur, risus at dignissim cursus, sem dui vestibulum purus, et venenatis nulla lorem id turpis.
                p Donec porttitor elit diam, at molestie orci gravida ac. Nulla nisl risus, porta eget dui et, facilisis pellentesque quam. Suspendisse quis ante ac nisl dignissim placerat. Nam tempus vitae mauris a semper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec malesuada orci quis sodales suscipit. Donec eget mattis diam.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="img-fluid mb-4")  
                    h2.mb-4 Seguridad
                    p Curabitur eget erat malesuada, ullamcorper lorem ac, luctus lacus. Aliquam erat volutpat. Nulla eget mi dui. Donec sed mi turpis. Maecenas nec commodo nisl. Fusce tincidunt fringilla sem;
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="img-fluid mb-4")  
                    h2.mb-4 Mejores Destinos
                    p Curabitur eget erat malesuada, ullamcorper lorem ac, luctus lacus. Aliquam erat volutpat. Nulla eget mi dui. Donec sed mi turpis. Maecenas nec commodo nisl. Fusce tincidunt fringilla sem;
                .col-md-4
                    img(src="img/icono_precios.svg", alt="img-fluid mb-4")  
                    h2.mb-4 Mejores Precios
                    p Curabitur eget erat malesuada, ullamcorper lorem ac, luctus lacus. Aliquam erat volutpat. Nulla eget mi dui. Donec sed mi turpis. Maecenas nec commodo nisl. Fusce tincidunt fringilla sem;

